body{
background-image: url('cloth.png');

}
input[type=text]:focus {
    background-color: lightblue;
}


#Header{
width: 1000px;
margin: 0px auto 5px auto;
border: solid 4px black;
text-align: center;
color: #0000A0;
background-image: url('smalls_teps.png');
font-family: "Century Gothic";
font-size: 28px;

}
#PI{
font-size: 16px;
font-family: "Century Gothic";
color:#0000A0;
font-weight:bold;
background-image: url('small_steps.png');

}

#Cn{
  font-size: 16px;
  font-family: "Century Gothic";
  color:#0000A0;
  font-weight:bold;
  background-image: url('small_steps.png');

}

#PS{
  font-size: 16px;
  font-family: "Century Gothic";
  color:#0000A0;
  font-weight:bold;

}
